@import './theme.scss';
*{
    box-sizing: border-box;
    font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
html,body{
    color: $normal-text
}
.van-tab--active{
    color: $theme-blue1;
}
.van-tabs__line{
    background-color: $theme-blue1;
}
.van-nav-bar {
    .van-icon,.van-nav-bar__text,.van-nav-bar__title{
        color: #fff;
        font-size: 0.16rem;
    }
    .van-nav-bar__text:active{
        background: transparent
    }
}
.cube-pulldown-loaded{
    color: #999
}
.van-nav-bar+.container{
    .cube-scroll-wrapper{
        height: calc(100% - 0.46rem);
    }
}
.van-button--warning{
    color: #fff;
    background-color: $theme-orange1;
    border:1px solid $theme-orange1;
}
.van-cell__value{
    select{
        height: 0.24rem;
        outline: none;
        background: transparent;
    }
}
.product-list .van-card__footer{
    width: calc(100% - 1.3rem)
}

.font-size-12{
    font-size: .12rem!important;
}
.font-size-14{
    font-size: .14rem!important;
}
.font-size-16{
    font-size: .16rem!important;
}
.font-size-18{
    font-size: .18rem!important;
}
.mar-t-5{
    margin-top: .05rem!important;
}
.mar-t-10{
    margin-top: .1rem!important;
}
.mar-t{
    margin-top: .08rem!important;
}
.mar-b{
    margin-bottom: .08rem!important;
}
.font-grey{
    color: #999!important;
}
.theme-color{
    color: $theme-blue1
}
.theme-orange,
.price{
    color: $theme-orange1
}
.van-cell{
    font-size: inherit;
}
input[type='date']{
    background-color: #fff;
}
.ui-button{
    outline: 0;
    border: 0;
    display: inline-block;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0 0.3rem;
    border-radius: 0.03rem;
    &.white{
        background: #fff;
        border: 1px solid #eee!important;
        &:active{
            background: #f7f7f7;
        }
    }
    &.orange{
        background: linear-gradient(to right, $theme-orange1 , $theme-orange2);
        color: #fff;
        &:active{
            background: linear-gradient(to right, darken($theme-orange1,10%) , darken($theme-orange2,10%));
        }
    }
    &.theme-white{
        background: #fff;
        border: 1px solid $theme-blue1!important;
        color: $theme-blue1;
        &:active{
            background: #f7f7f7;
        }
    }
    &.theme-blue{
        background: linear-gradient(to right, $theme-blue1 , $theme-blue2);
        color: #fff;
        &:active{
            background: linear-gradient(to right, darken($theme-blue1,10%) , darken($theme-blue2,10%));
        }
    }
    &.round{
        border-radius: 0.2rem;
    }
    &.shadow{
        box-shadow: 0px 0px 5px 5px rgba($theme-blue1,0.15);
        &:active{
            box-shadow: 0px 0px 0px 1px rgba($theme-blue1,0.15);
        }
    }
    &.full{
        width: 100%;
    }
    &.small{
        height: 0.3rem;
        line-height: 0.3rem;
        padding: 0 0.2rem;
    }
}
.blue-scroll{
    background: linear-gradient(to right, $theme-blue1 , $theme-blue2);
    position: relative;
    &::after{
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 0;
        background: #f5f5f5
    }
    .cube-scroll-content{
        background: #f5f5f5;
        min-height: 100.1%;
    }
    .order-section{
        .van-cell__value{
            color: #999;
        }
    }
}

.line-choicedate-wrap{
    .top-box{
        .van-tab{
            line-height: .22rem;
            background-color: #f7f7f7;
        }
        .van-tab--active{
            color: #666;
            border: 1px solid $theme-orange1;
        }
        .van-tabs__line{
            height: 0;
        }
        [class*=van-hairline]::after,
        .van-hairline--top-bottom::after{
            border: 0;
        }
    }
}
.get-code{
    .van-loading--white circle{
        stroke: #f80;
    }
    &.disabled{
        circle{
            stroke: $gray-text;
        }
    }
}
